# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [182]:
import pandas as pd
import seaborn as sns
import numpy as np

df = pd.read_csv('demo01.csv')
df.columns
#1) A-As variáveis

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')

In [183]:
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [184]:
df.dtypes
#1) B-Tipos de dados de cada variável

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [185]:
#1) C-Quantidade de missings
df.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [186]:
#1) D-Distribuição da variável resposta (mau)
df['mau'].value_counts()

False    16260
True       390
Name: mau, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [187]:
#2) 1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
variaveis = ['sexo','posse_de_veiculo','posse_de_imovel','qtd_filhos',
       'tipo_renda','educacao','estado_civil', 'tipo_residencia','idade',
       'tempo_emprego','possui_celular','possui_fone_comercial',
       'possui_fone','possui_email','qt_pessoas_residencia','mau']
tipos = ['string','string','string','int','string','string','string','string','float','float','int','int','int','int','float','bool']

df2 = pd.DataFrame(index=variaveis)
df2['tipos'] = tipos
df2

                        tipos
sexo                   string
posse_de_veiculo       string
posse_de_imovel        string
qtd_filhos                int
tipo_renda             string
educacao               string
estado_civil           string
tipo_residencia        string
idade                   float
tempo_emprego           float
possui_celular            int
possui_fone_comercial     int
possui_fone               int
possui_email              int
qt_pessoas_residencia   float
mau                      bool

In [188]:
#2) 2. Adicione uma coluna nesse dataframe chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
qtd_categorias =[]
for var in df:
    qtd_categorias.append(len(df[var].unique()))
qtd_categorias
df2['qtd_categorias'] = qtd_categorias
df2

                        tipos  qtd_categorias
sexo                   string               2
posse_de_veiculo       string               2
posse_de_imovel        string               2
qtd_filhos                int               8
tipo_renda             string               5
educacao               string               5
estado_civil           string               5
tipo_residencia        string               6
idade                   float            5298
tempo_emprego           float            3005
possui_celular            int               1
possui_fone_comercial     int               2
possui_fone               int               2
possui_email              int               2
qt_pessoas_residencia   float               9
mau                      bool               2

In [189]:
#2) 3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.
df_encoded = pd.get_dummies(df, columns=['tipo_renda','educacao','estado_civil','tipo_residencia'], drop_first=True)
df_encoded

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,M,Y,Y,0,58.832877,3.106849,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
1,F,N,Y,0,52.356164,8.358904,1,0,1,1,...,1,0,0,1,0,1,0,0,0,0
2,F,N,Y,0,52.356164,8.358904,1,0,1,1,...,1,0,0,1,0,1,0,0,0,0
3,M,Y,Y,0,46.224658,2.106849,1,1,1,1,...,0,1,0,0,0,1,0,0,0,0
4,F,Y,N,0,29.230137,3.021918,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
5,F,Y,N,0,29.230137,3.021918,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
6,F,N,Y,0,27.482192,4.024658,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
7,F,N,Y,0,27.482192,4.024658,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
8,F,N,Y,1,30.049315,4.438356,1,0,0,0,...,1,0,0,1,0,1,0,0,0,0
9,F,N,Y,1,30.049315,4.438356,1,0,0,0,...,1,0,0,1,0,1,0,0,0,0
10,M,Y,Y,3,34.764384,3.186301,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
11,M,N,Y,1,32.443836,5.523288,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12,M,N,Y,1,32.443836,5.523288,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
13,M,N,Y,1,32.443836,5.523288,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
14,M,Y,Y,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
15,M,Y,Y,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
16,M,Y,Y,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
17,M,Y,Y,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
18,M,Y,Y,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
19,F,Y,Y,2,43.180822,8.693151,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
20,F,Y,Y,2,43.180822,8.693151,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
21,F,Y,Y,2,43.180822,8.693151,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
22,F,N,Y,1,44.416438,19.449315,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
23,F,N,Y,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
24,F,N,Y,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
25,F,N,Y,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
26,F,N,Y,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
27,F,N,Y,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
28,F,N,Y,0,55.304110,-1000.665753,1,0,0,0,...,1,0,0,0,1,1,0,0,0,0
29,F,N,Y,0,46.619178,3.690411,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16620,F,N,Y,0,49.676712,2.846575,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
16621,F,N,Y,2,28.561644,7.520548,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
16622,F,N,N,0,50.772603,10.043836,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
16623,F,Y,N,0,54.200000,15.126027,1,1,1,0,...,0,1,0,0,0,1,0,0,0,0
16624,M,N,Y,0,39.887671,7.120548,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0
16625,F,N,N,0,55.076712,3.956164,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
16626,F,N,N,0,43.528767,1.369863,1,1,1,0,...,1,0,0,0,1,1,0,0,0,0
16627,M,Y,N,0,54.939726,-1000.665753,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
16628,F,N,N,0,58.202740,-1000.665753,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
16629,F,N,Y,0,29.205479,5.301370,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
16630,F,N,Y,0,29.205479,5.301370,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
16631,F,N,Y,1,44.476712,16.643836,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
16632,F,N,Y,1,28.575342,2.465753,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
16633,F,N,Y,1,28.575342,2.465753,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
16634,M,N,N,1,35.835616,3.635616,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
16635,M,Y,Y,0,27.646575,1.761644,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
16636,M,Y,Y,2,48.879452,11.794521,1,1,1,0,...,0,1,0,0,0,1,0,0,0,0
16637,M,N,N,1,30.443836,1.284932,1,1,1,0,...,0,1,0,0,0,1,0,0,0,0
16638,M,N,N,1,29.194521,2.536986,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
16639,M,N,N,1,29.194521,2.536986,1,1,1,0,...,1,0,0,1,0,1,0,0,0,0
16640,M,N,N,1,35.468493,6.624658,1,0,0,1,...,1,1,0,0,0,0,1,0,0,0
16641,M,Y,N,0,24.997260,2.630137,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1
16642,M,Y,N,0,24.997260,2.630137,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1
16643,F,N,Y,0,60.304110,-1000.665753,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
16644,F,N,Y,1,34.857534,3.101370,1,1,1,0,...,1,0,0,1,0,1,0,0,0,0
16645,F,N,Y,0,54.109589,9.884932,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
16646,F,N,Y,0,43.389041,7.380822,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
16647,M,Y,Y,0,30.005479,9.800000,1,1,0,0,...,1,1,0,0,0,1,0,0,0,0
16648,M,Y,Y,0,30.005479,9.800000,1,1,0,0,...,1,1,0,0,0,1,0,0,0,0
16649,F,N,Y,0,33.936986,3.630137,1,0,1,1,...,0,1,0,0,0,1,0,0,0,0

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [203]:
df_encoded['sexo'] = df_encoded['sexo'].map({'M':0,'F':1})
df_encoded['posse_de_veiculo'] = df_encoded['posse_de_veiculo'].map({'Y':1,'N':0})
df_encoded['posse_de_imovel'] = df_encoded['posse_de_imovel'].map({'Y':1,'N':0})
df_encoded['mau'] = df_encoded['mau'].astype('int')
df_encoded

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,1,1,0,58.832877,3.106849,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
1,1,0,1,0,52.356164,8.358904,1,0,1,1,...,1,0,0,1,0,1,0,0,0,0
2,1,0,1,0,52.356164,8.358904,1,0,1,1,...,1,0,0,1,0,1,0,0,0,0
3,0,1,1,0,46.224658,2.106849,1,1,1,1,...,0,1,0,0,0,1,0,0,0,0
4,1,1,0,0,29.230137,3.021918,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
5,1,1,0,0,29.230137,3.021918,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
6,1,0,1,0,27.482192,4.024658,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
7,1,0,1,0,27.482192,4.024658,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
8,1,0,1,1,30.049315,4.438356,1,0,0,0,...,1,0,0,1,0,1,0,0,0,0
9,1,0,1,1,30.049315,4.438356,1,0,0,0,...,1,0,0,1,0,1,0,0,0,0
10,0,1,1,3,34.764384,3.186301,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
11,0,0,1,1,32.443836,5.523288,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12,0,0,1,1,32.443836,5.523288,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
13,0,0,1,1,32.443836,5.523288,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
14,0,1,1,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
15,0,1,1,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
16,0,1,1,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
17,0,1,1,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
18,0,1,1,0,56.169863,12.191781,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
19,1,1,1,2,43.180822,8.693151,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
20,1,1,1,2,43.180822,8.693151,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
21,1,1,1,2,43.180822,8.693151,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
22,1,0,1,1,44.416438,19.449315,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
23,1,0,1,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
24,1,0,1,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
25,1,0,1,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
26,1,0,1,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
27,1,0,1,2,34.002740,4.857534,1,0,0,1,...,0,1,0,0,0,1,0,0,0,0
28,1,0,1,0,55.304110,-1000.665753,1,0,0,0,...,1,0,0,0,1,1,0,0,0,0
29,1,0,1,0,46.619178,3.690411,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16620,1,0,1,0,49.676712,2.846575,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
16621,1,0,1,2,28.561644,7.520548,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
16622,1,0,0,0,50.772603,10.043836,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
16623,1,1,0,0,54.200000,15.126027,1,1,1,0,...,0,1,0,0,0,1,0,0,0,0
16624,0,0,1,0,39.887671,7.120548,1,0,0,0,...,1,1,0,0,0,0,0,0,1,0
16625,1,0,0,0,55.076712,3.956164,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
16626,1,0,0,0,43.528767,1.369863,1,1,1,0,...,1,0,0,0,1,1,0,0,0,0
16627,0,1,0,0,54.939726,-1000.665753,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
16628,1,0,0,0,58.202740,-1000.665753,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
16629,1,0,1,0,29.205479,5.301370,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
16630,1,0,1,0,29.205479,5.301370,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
16631,1,0,1,1,44.476712,16.643836,1,0,1,0,...,1,1,0,0,0,1,0,0,0,0
16632,1,0,1,1,28.575342,2.465753,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
16633,1,0,1,1,28.575342,2.465753,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
16634,0,0,0,1,35.835616,3.635616,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
16635,0,1,1,0,27.646575,1.761644,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
16636,0,1,1,2,48.879452,11.794521,1,1,1,0,...,0,1,0,0,0,1,0,0,0,0
16637,0,0,0,1,30.443836,1.284932,1,1,1,0,...,0,1,0,0,0,1,0,0,0,0
16638,0,0,0,1,29.194521,2.536986,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
16639,0,0,0,1,29.194521,2.536986,1,1,1,0,...,1,0,0,1,0,1,0,0,0,0
16640,0,0,0,1,35.468493,6.624658,1,0,0,1,...,1,1,0,0,0,0,1,0,0,0
16641,0,1,0,0,24.997260,2.630137,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1
16642,0,1,0,0,24.997260,2.630137,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1
16643,1,0,1,0,60.304110,-1000.665753,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
16644,1,0,1,1,34.857534,3.101370,1,1,1,0,...,1,0,0,1,0,1,0,0,0,0
16645,1,0,1,0,54.109589,9.884932,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
16646,1,0,1,0,43.389041,7.380822,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
16647,0,1,1,0,30.005479,9.800000,1,1,0,0,...,1,1,0,0,0,1,0,0,0,0
16648,0,1,1,0,30.005479,9.800000,1,1,0,0,...,1,1,0,0,0,1,0,0,0,0
16649,1,0,1,0,33.936986,3.630137,1,0,1,1,...,0,1,0,0,0,1,0,0,0,0

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [212]:
freq = pd.crosstab(df_encoded['posse_de_veiculo'], df_encoded['possui_email'])
freq

possui_email         0    1
posse_de_veiculo
0                 9341  837
1                 5829  643

In [214]:
freq_pct = freq.div(freq.sum(axis=1), axis=0)
freq_pct
#a variável mais forte é a "posse_de_veiculo" por existir mais pessoas com veículos do que com email.

possui_email             0         1
posse_de_veiculo
0                 0.917764  0.082236
1                 0.900649  0.099351

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [215]:
df_encoded.to_csv('ex1_mod07.csv')