# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [53]:
import pandas as pd
import numpy as np

# Seu código aqui
d = {'ano':[1900, 1920, 1940, 1960, 1980, 2000, 2020], 'anomalia termica':[-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]}
df = pd.DataFrame(data=d)
df

    ano  anomalia termica
0  1900             -0.08
1  1920             -0.27
2  1940              0.12
3  1960             -0.03
4  1980              0.26
5  2000              0.40
6  2020              1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [54]:
# seu código aqui
d = {'anomalia termica':[-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]}
df = pd.DataFrame(data=d, index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
df

      anomalia termica
1900             -0.08
1920             -0.27
1940              0.12
1960             -0.03
1980              0.26
2000              0.40
2020              1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [55]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturasSeries = pd.Series(dic_temperaturas)
temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [56]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   107.188440  106.484394   93.397514
1   100.924607  108.710434  102.417746
2    84.032190  115.517313  110.669451
3   111.241952  106.590651   97.093153
4    86.493024   88.315409   95.566374
5   114.664899   70.897625  103.712255
6   105.538981  101.562338  113.419210
7   105.344572   89.915234   86.865925
8   100.749062  107.485925  108.006037
9   105.722323  106.027391   89.227569
10   88.473961   82.588905  108.859682
11   96.219454  103.972342  107.116078
12  106.215093  106.999914  100.939042
13  111.883615   96.800137   85.805433
14  115.656695   96.145918  103.636736
15  106.500775   85.060582  106.892663
16  103.011665  109.056178   98.900187
17  108.003415   89.315621   85.451575
18  107.356241   99.473523   93.119389
19  107.141383   92.868196   89.545101

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [57]:
#rename index
df_novo = df.rename(index={0:'x1', 1:'x2', 2:'x3', 3:'x4',4:'x5' ,5:'x6' ,6:'x7' ,7:'x8' ,8:'x9' ,9:'x10' ,10:'x11' ,11:'x12' ,12:'x13' ,13:'x14' ,14:'x15' ,15:'x16' ,16:'x17' ,17:'x18' ,18:'x19' ,19:'x20'})
df_novo

              0           1           2
x1   107.188440  106.484394   93.397514
x2   100.924607  108.710434  102.417746
x3    84.032190  115.517313  110.669451
x4   111.241952  106.590651   97.093153
x5    86.493024   88.315409   95.566374
x6   114.664899   70.897625  103.712255
x7   105.538981  101.562338  113.419210
x8   105.344572   89.915234   86.865925
x9   100.749062  107.485925  108.006037
x10  105.722323  106.027391   89.227569
x11   88.473961   82.588905  108.859682
x12   96.219454  103.972342  107.116078
x13  106.215093  106.999914  100.939042
x14  111.883615   96.800137   85.805433
x15  115.656695   96.145918  103.636736
x16  106.500775   85.060582  106.892663
x17  103.011665  109.056178   98.900187
x18  108.003415   89.315621   85.451575
x19  107.356241   99.473523   93.119389
x20  107.141383   92.868196   89.545101

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [58]:
# para encontrarmos a média de uma linha, basta utilizarmos a função built-in "mean()" do python passando como parâmetro o eixo de busca
df_novo['media'] = df_novo.mean(axis=1)
df_novo

              0           1           2       media
x1   107.188440  106.484394   93.397514  102.356782
x2   100.924607  108.710434  102.417746  104.017595
x3    84.032190  115.517313  110.669451  103.406318
x4   111.241952  106.590651   97.093153  104.975252
x5    86.493024   88.315409   95.566374   90.124936
x6   114.664899   70.897625  103.712255   96.424926
x7   105.538981  101.562338  113.419210  106.840176
x8   105.344572   89.915234   86.865925   94.041910
x9   100.749062  107.485925  108.006037  105.413675
x10  105.722323  106.027391   89.227569  100.325761
x11   88.473961   82.588905  108.859682   93.307516
x12   96.219454  103.972342  107.116078  102.435958
x13  106.215093  106.999914  100.939042  104.718016
x14  111.883615   96.800137   85.805433   98.163061
x15  115.656695   96.145918  103.636736  105.146450
x16  106.500775   85.060582  106.892663   99.484673
x17  103.011665  109.056178   98.900187  103.656010
x18  108.003415   89.315621   85.451575   94.256871
x19  107.356241   99.473523   93.119389   99.983051
x20  107.141383   92.868196   89.545101   96.518227

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [59]:
# utilizaremos o np.log (função da biblioteca numpy para encontrar o logaritmo natural da média)
df_novo['log_med'] = np.log(df_novo['media'])
df_novo

              0           1           2       media   log_med
x1   107.188440  106.484394   93.397514  102.356782  4.628465
x2   100.924607  108.710434  102.417746  104.017595  4.644560
x3    84.032190  115.517313  110.669451  103.406318  4.638666
x4   111.241952  106.590651   97.093153  104.975252  4.653725
x5    86.493024   88.315409   95.566374   90.124936  4.501197
x6   114.664899   70.897625  103.712255   96.424926  4.568765
x7   105.538981  101.562338  113.419210  106.840176  4.671334
x8   105.344572   89.915234   86.865925   94.041910  4.543741
x9   100.749062  107.485925  108.006037  105.413675  4.657892
x10  105.722323  106.027391   89.227569  100.325761  4.608423
x11   88.473961   82.588905  108.859682   93.307516  4.535901
x12   96.219454  103.972342  107.116078  102.435958  4.629238
x13  106.215093  106.999914  100.939042  104.718016  4.651271
x14  111.883615   96.800137   85.805433   98.163061  4.586630
x15  115.656695   96.145918  103.636736  105.146450  4.655354
x16  106.500775   85.060582  106.892663   99.484673  4.600004
x17  103.011665  109.056178   98.900187  103.656010  4.641078
x18  108.003415   89.315621   85.451575   94.256871  4.546024
x19  107.356241   99.473523   93.119389   99.983051  4.605001
x20  107.141383   92.868196   89.545101   96.518227  4.569732