# Tarefa 02 Módulo 05

O nosso projeto desta sequência de módulos do curso será um aprofundamento da demonstração sobre classificação de risco de crédito que vimos lá no comecinho. Pois recebemos uma base já montada pra nós. Tenha certeza de que ela passou por um longo processamento até ficar daquele jeito. Neste exercício vamos exercitar o que aprendemos nas ultimas aulas e montar a variável resposta da base do nosso projeto.

#### Marcação de bom e mau
O objetivo da modelagem é classificar o risco de inadimplência, ou como se diz no meio, o risco de *default*. Podemos fazer longas discussões sobre o conceito de *default* com base em estudos e exigências regulatórias, para efeitos deste estudo, um cliente em *default* é aquele que está em 60 dias de atraso ou mais. Então classificaremos os clientes como 'bons' e 'maus' assim:
- **Maus** pagadores: são aqueles que entraram em 'default' (atraso 60 dias ou mais) nos 24 meses seguintes à aquisição do cartão de crédito. 
- **Bons** pagadores: são considerados todos os demais.
- **Excluídos**: Clientes que não adquiriram um cartão de crédito (seja por recusa, seja por desistência) não possuem informações de pagamento, portanto não se pode identificar se são bons ou maus. Há uma longa discussão e literatura sobre *inferência de rejeitados* que está fora do escopo deste exercício.

#### Bases disponíveis
Temos duas bases importantes aqui: uma de propostas, com diversas informações dos vários solicitantes de cartão de crédito, e uma base de pagamentos. A base de pagamentos será utilizada para identificar a ocorrência de *default*. A base de propostas tem diversas informações coletadas no momento da solicitação do crédito (isto é importante: qualquer informação posterior a essa data é impossível de ser coletada na aplicação do modelo e não pode ser utilizada).

As variáveis delas são:

Base de propostas - application_records.csv

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| CODE_GENDER| M = 'Masculino'; F = 'Feminino' |M/F|
| FLAG_OWN_CAR| Y = 'possui'; N = 'não possui' |Y/N|
| FLAG_OWN_REALTY| Y = 'possui'; N = 'não possui' |Y/N|
| CNT_CHILDREN| Quantidade de filhos |inteiro|
| AMT_INCOME_TOTAL| Annual income |inteiro|
| NAME_INCOME_TYPE|Tipo de renda (ex: assaliariado, autônomo etc) | texto |
| NAME_EDUCATION_TYPE| Nível de educação (ex: secundário, superior etc) |texto|
| NAME_FAMILY_STATUS | Estado civil (ex: solteiro, casado etc)| texto |
| NAME_HOUSING_TYPE | tipo de residência (ex: casa/apartamento, com os pais etc) | texto |
| DAYS_BIRTH | Count backwards from current day (0), -1 means yesterday |inteiro|
| DAYS_EMPLOYED | Count backwards from current day (0), -1 means yesterday |inteiro|
| FLAG_MOBIL | Indica se possui celular (1 = sim, 0 = não) |binária|
| FLAG_WORK_PHONE | Indica se possui telefone comercial (1 = sim, 0 = não) |binária|
| FLAG_PHONE | Indica se possui telefone (1 = sim, 0 = não) |binária|
| FLAG_EMAIL | Indica se possui e-mail (1 = sim, 0 = não) |binária|
| OCCUPATION_TYPE | Occupation	 |Qualitativa|
| CNT_FAM_MEMBERS | quantidade de pessoas na residência |inteiro|

Base de pagamentos - pagamentos_largo.csv  

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| mes_00 a mes_24| faixa de atraso mês a mês do cliente <br>0: 1-29 days past due &nbsp;&nbsp;&nbsp;&nbsp; 1: 30-59 days past due <br />2: 60-89 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 3: 90-119 days overdue <br /> 4: 120-149 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 5: more than 150 days <br />C: paid off that month &nbsp;&nbsp;&nbsp;&nbsp; X: No loan for the month |Qualitativa|

#### Construindo a variável resposta
A base de pagamentos está em um formato de 'base larga'. Essa base possui informações de pagamentos do cliente mês a mês a partir do mês de aquisição do crédito (mês 0) até o vigésimo quarto mês após a aquisição do crédito (mês 24). Utilizaremos essa base para determinar se um proponente é considerado 'bom pagador' ou caso apresente atraso representativo, será considerado 'mau pagador'.

#### Base larga vs base longa
A base ser larga significa que há uma linha para cada cliente, e que as informações estarão nas colunas, em contraste com a 'base longa', em que haveria uma linha para cada combinação cliente/mês, uma coluna indicando o cliente, outra indicando o mês, e apenas uma coluna com a informação do atraso.

#### Tarefa 1) Marcar *default* no mês
Faça uma indicadora de se o cliente está em *default* em cada uma das marcações (mes_00 a mes_24). Dica: você pode utilizar o método ```.isin()``` do Pandas. Consulte a [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necessário.

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um episódio de *default* entre o mês 0 e o mês 24. Dica: o método ```sum()``` pode ajudar. Caso precise, consulte a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 mês em *default* e ```False``` para os demais.

#### Tarefa 3) Marcando proponentes expostos ao risco de crédito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informações
Faça uma junção das informações da base de propostas com a variável de *default* que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código ;)

#### Tarefa 5) Verificando
Faça uma contagem dos valores do *default* que você construiu.

In [2]:
import pandas as pd

In [32]:
propostas = pd.read_csv('application_record.csv')
pg = pd.read_csv('pagamentos_largo.csv')

In [43]:
# 1) Seu código aqui
mau_pagador = pg.isin(['2','3','4','5'])

In [41]:
# 2) Seu código aqui
pg['default'] = mau_pagador.any(axis=1)

In [48]:
# 3) Seu código aqui
inner_join_df = propostas.merge(pg, how='inner', on='ID')
inner_join_df
#como já fiz a coluna default, já temos o resultado esperado, a junção das tabelas com a categorização do default.

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9,default
0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,NaN,0,NaN,NaN,NaN,0,NaN,False
1,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,C,C,0,0,NaN,0,NaN,0,NaN,False
2,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,C,C,0,0,NaN,0,NaN,0,NaN,False
3,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,NaN,False
4,5008825,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,...,0,0,0,0,1,0,0,0,0,False
5,5008826,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,...,C,C,1,0,1,1,1,0,0,False
6,5008830,F,N,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,0,0,0,0,0,0,0,False
7,5008832,F,N,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,0,0,0,0,0,0,0,False
8,5008834,F,N,Y,1,112500.0,Working,Secondary / secondary special,Single / not married,House / apartment,...,C,C,0,0,C,C,C,C,C,False
9,5008835,F,N,Y,1,112500.0,Working,Secondary / secondary special,Single / not married,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
10,5008836,M,Y,Y,3,270000.0,Working,Secondary / secondary special,Married,House / apartment,...,NaN,NaN,C,C,C,C,C,C,C,False
11,5008838,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
12,5008840,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,...,C,C,0,0,0,0,0,0,0,False
13,5008843,M,N,Y,1,405000.0,Commercial associate,Higher education,Married,House / apartment,...,C,C,0,0,0,0,0,0,0,False
14,5008844,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
15,5008847,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
16,5008849,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,NaN,NaN,0,NaN,0,C,C,C,C,False
17,5008850,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,False
18,5008853,M,Y,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,NaN,NaN,0,0,0,0,0,0,0,False
19,5008854,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
20,5008855,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,0,0,0,C,C,C,C,False
21,5008867,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
22,5008868,F,N,Y,1,211500.0,State servant,Secondary / secondary special,Civil marriage,House / apartment,...,0,0,0,0,0,0,0,0,0,False
23,5008874,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,...,C,C,0,0,0,C,C,C,C,False
24,5008875,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,...,C,C,0,0,0,0,0,0,C,False
25,5008876,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,...,C,C,C,C,C,C,C,C,C,False
26,5008878,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,...,NaN,NaN,0,0,0,1,0,0,0,False
27,5008882,F,N,Y,2,126000.0,Commercial associate,Higher education,Married,House / apartment,...,C,C,0,0,0,0,0,0,C,False
28,5008884,F,N,Y,0,315000.0,Pensioner,Secondary / secondary special,Widow,House / apartment,...,C,C,0,0,0,NaN,NaN,NaN,NaN,False
29,5008890,F,N,Y,0,247500.0,Commercial associate,Higher education,Separated,Rented apartment,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16620,5118541,F,N,Y,0,72000.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,0,0,0,0,0,0,0,True
16621,5118648,F,N,Y,2,270000.0,Pensioner,Higher education,Single / not married,House / apartment,...,C,C,0,0,0,0,0,0,1,True
16622,5125667,F,N,N,0,45000.0,State servant,Secondary / secondary special,Married,House / apartment,...,C,C,0,0,0,1,2,3,C,True
16623,5125816,F,Y,N,0,450000.0,Pensioner,Higher education,Married,House / apartment,...,C,C,NaN,NaN,NaN,0,NaN,NaN,NaN,True
16624,5125952,M,N,Y,0,135000.0,Working,Secondary / secondary special,Married,Rented apartment,...,C,C,0,1,1,2,0,1,0,True
16625,5126012,F,N,N,0,270000.0,State servant,Secondary / secondary special,Married,House / apartment,...,1,NaN,0,0,0,0,0,0,0,True
16626,5126154,F,N,N,0,135000.0,Working,Secondary / secondary special,Widow,House / apartment,...,0,NaN,1,2,1,0,NaN,NaN,NaN,True
16627,5126209,M,Y,N,0,162000.0,Pensioner,Higher education,Married,House / apartment,...,C,C,0,0,NaN,0,0,0,3,True
16628,5126278,F,N,N,0,162000.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,0,C,0,0,0,0,0,2,2,True
16629,5135485,F,N,Y,0,135000.0,State servant,Higher education,Single / not married,Municipal apartment,...,C,C,1,0,1,1,2,3,4,True
16630,5135487,F,N,Y,0,135000.0,State servant,Higher education,Single / not married,Municipal apartment,...,C,C,1,0,1,1,2,3,4,True
16631,5135845,F,N,Y,1,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,1,2,True
16632,5135990,F,N,Y,1,585000.0,Commercial associate,Higher education,Single / not married,House / apartment,...,5,C,0,1,2,3,4,5,5,True
16633,5135991,F,N,Y,1,585000.0,Commercial associate,Higher education,Single / not married,House / apartment,...,5,C,0,1,2,3,4,5,5,True
16634,5136014,M,N,N,1,112500.0,Working,Secondary / secondary special,Civil marriage,House / apartment,...,C,C,0,0,0,0,0,0,0,True
16635,5139311,M,Y,Y,0,180000.0,State servant,Higher education,Married,House / apartment,...,C,C,0,0,0,1,2,0,C,True
16636,5142185,M,Y,Y,2,450000.0,Commercial associate,Higher education,Married,House / apartment,...,C,C,4,C,C,C,C,C,C,True
16637,5142741,M,N,N,1,360000.0,Working,Higher education,Married,House / apartment,...,C,C,0,0,0,1,2,1,0,True
16638,5142964,M,N,N,1,180000.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,1,1,2,0,C,C,C,True
16639,5142972,M,N,N,1,180000.0,Working,Secondary / secondary special,Single / not married,House / apartment,...,C,C,0,1,1,2,3,0,0,True
16640,5143342,M,N,N,1,216000.0,Working,Secondary / secondary special,Married,Municipal apartment,...,C,C,0,0,0,0,0,0,0,True
16641,5143573,M,Y,N,0,157500.0,Working,Incomplete higher,Married,With parents,...,C,C,0,0,0,1,1,2,1,True
16642,5143582,M,Y,N,0,157500.0,Working,Incomplete higher,Married,With parents,...,C,C,0,0,0,1,1,2,1,True
16643,5145817,F,N,Y,0,90000.0,Pensioner,Secondary / secondary special,Married,House / apartment,...,NaN,NaN,NaN,0,0,0,0,0,0,True
16644,5146078,F,N,Y,1,108000.0,Working,Secondary / secondary special,Single / not married,House / apartment,...,C,C,0,0,0,1,1,0,1,True
16645,5149042,F,N,Y,0,180000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,...,C,C,1,2,1,1,1,1,1,True
16646,5149056,F,N,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,...,C,C,1,1,1,2,2,1,0,True
16647,5149145,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,0,0,0,1,2,2,1,True
16648,5149158,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,...,C,C,0,0,2,0,2,0,0,True
16649,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,House / apartment,...,C,C,1,1,1,1,1,2,2,True

In [50]:
# 4) eu código aqui
print(pg['default'].sum())
print(inner_join_df['default'].sum())

431
390